/* style for development interface */

#devbar {
	top:0px;
	left:0px;
	clear:both;
	position: relative;
	z-index: 100;
	background-color: #CAEEFF;
	border: thin solid #93C9FF;
	margin: 5px;
}

#devblock {
	background-color: black;
	opacity: 0.8;
	filter: alpha(opacity=80);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:21;
	color: white;
	padding-top: 100px;
	padding-left: 50px;
	font-family: Verdana;
	font-size: large;
}

#devmenu {
	margin: 0px;
}

#devmenu li{
	display: inline;
	background-color: #33CCFF;
	border: ridge thin blue;
}