#tile {
	position:relative;
	/* z-index:0; */
	/* float:left; */
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: #000000;
	/* background-image: url(images/tiles/safari.png); */
	background-position: 0px 0px;
	width:350px; /* x 350 / 14 = 25 */
	height: 247px; /* y 247 / 19 = 13 */
}
#panel {
	float: right;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#selection {
	z-index:2;
	position: relative;
	width:14px;
	height:19px;
	overflow:hidden;
	border: 1px solid #FFFF00;
}

.player {
	z-index:1;
	width: 14px;
	height: 19px;
	position:absolute;
	
}

#improfane {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #FF0000;
	font-size: 36px;
}

#outertile {
	overflow:auto;
}

#introduction {
	text-align:center;
	background-color: #000000;
	width: 350px;
	height: 247px;
	vertical-align:middle;
}
#collider {
	position: absolute;
	z-index:3;
	visibility:hidden;
	height:19px;
	border: medium ridge #0033FF;
	background-color: #CCCCCC;
	font-size: 9px;
}
